  <table class="table table-hover  table-bordered table-dark">
    <thead thead-dark>
      <tr>
        <th>Symbol</th>
        <th>Type</th>
        <th >Quantity</th>
        <th>Price</th>
        <th>Status</th>
        <th>Settlement</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.symbol}}</td>
        <td>{{order.type}}</td>
        <td >{{order.shares}}</td>
        <td>{{order.price | currency }}</td>
        <td class="text-center"
             [ngClass]="{'bg-success': order.status == 'completed',   'bg-warning': order.status == 'pending' }">
             {{order.status}}
        </td>
        <td>{{order.value | currency }}</td>
      </tr>
    </tbody>
  </table>
